@model AppalachianHarvest.Models.Producer

@{
    ViewData["Title"] = "Details";
    var imgSrc = Url.Content("https://localhost:5001/Images/farmPlaceholder.jpg");

}

<h1>Details</h1>

<div>
    <h4>Producer</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">


            @if (Model.ProducerImage != null)
            {

                var base64 = Convert.ToBase64String(Model.ProducerImage);
                imgSrc = String.Format("data:image/gif;base64,{0}", base64);

            }
            <img class="productImgThumb" style="width:300px" src="@imgSrc" />

        </dt>
        <dd class="col-sm-10">

        </dd>
        <dt class="col-sm-2">
            Producer Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)  @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address) <br />

            @Html.DisplayFor(model => model.City),  @Html.DisplayFor(model => model.State)   @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    <h4>Products:</h4>
    <table class="table" style="width:50%">

        <thead>
            <tr>
                <th>
                </th>
                <th>
                    Name
                </th>
                <th>
                    Qty.
                </th>
                <th>
                    Price
                </th>
                <th>
                    Date Added
                </th>
                <th>
                    Expiration
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (Product product in Model.Products)
            {
                if (product.ExpirationDate >= DateTime.Now)
                {
                    <tr>
                        <td>


                            @*<img class="productImgThumb" style="width:40px" src="@imgSrc2" />*@

                        </td>
                        <td>
                            @if (product.IsOrganic == true)
                            {
                                var imgSrc2 = Url.Content("https://localhost:5001/Images/organic-icon.png");

                                <img class="productImgThumb" style="width:15px" src="@imgSrc2" />
                            }
                            @Html.ActionLink(product.Name, "Details", "Products", new { Id = product.ProductId }, null)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => product.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => product.Price)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => product.Added)
                        </td>
                        <td>
                            @product.ExpirationDate.ToShortDateString()
                        </td>


                    </tr>

                }
            }
        </tbody>
        </table>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProducerId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ProducerId">Delete</a> |
    <a asp-action="Index">Back to Producer List</a>
</div>
