@model AppalachianHarvest.Models.Product
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment _env


@{
    ViewData["Title"] = "Details";
    var imgSrc = Url.Content("https://localhost:5001/Images/productPlaceholder.jpg");
}


<h1>
    @if (Model.IsOrganic == true)
    {
        var imgSrc2 = Url.Content("https://localhost:5001/Images/organic-icon.png");

        <img class="productImgThumb" style="width:50px" src="@imgSrc2" />
    }Product Details
</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">



            @if (Model.Image != null)
            {

                var base64 = Convert.ToBase64String(Model.Image);
                imgSrc = String.Format("data:image/gif;base64,{0}", base64);

            }
            <img class="productImgThumb" style="width:150px" src="@imgSrc" />

        </dt>
        <dd class="col-sm-10">

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd class="col-sm-10">
            @Html.ActionLink(Model.Producer.BusinessName, "Details", "Producers", new { Id = Model.Producer.ProducerId }, null)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Added)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Added)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Model.ExpirationDate.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shelf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shelf.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ProductId">Delete</a> |

    <a asp-action="Index">Back to Product List</a>
</div>
